:root {
    --gray: #b9b9bb;
}

@font-face {
    font-family: poppins;
    src: url("../assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Bold poppins";
    src: url("../assets/fonts/Poppins-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Header styling */

header {
    width: 100%;
    height: 60px;
    background-color: #000;
    padding: 40px 30px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

.logo img {
    width: 60px;
}

header div:not(.logo, .navbar-box, .search-box) {
    display: flex;
    gap: 25px;
    align-items: center;
}

header button {
    border: none;
    color: #fff;
    padding: 15px;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

header>div>input {
    padding: 7px 10px;
    background-color: transparent;
    color: #fff;
    border: 1px solid gray;
    outline: none;
    border-radius: 4px;
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

header a {
    color: #fff;
    padding: 15px;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

    &>small {
        border: 1px solid red;
        padding: 0 3px;
        letter-spacing: 3.5px;
        font-size: 10px;
        font-weight: normal;
    }

    &:hover>small {
        background-color: #b60109;
    }
}

.navbar-box,
.search-box {
    display: none;
    cursor: pointer;

    &>i {
        color: #fff;
    }
}

/* END */

/* hero-section */
.hero-section {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    background-color: #000;
    color: #fff;
}

.hero-section .container {
    width: 96%;
    display: flex;
    gap: 5%;
    margin: 0 3%;
    align-items: center;
}

.hero-content {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 8px;
    padding: 7px;
    width: 100%;
    height: 58%;
    box-sizing: border-box;
    margin-top: 20px;
}

.hero-video {
    flex: 6;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
}

.hero-video iframe {
    border-radius: 6px;
    width: 500px;
    height: 350px;
}

.hero-title {
    font-size: 10px;
    letter-spacing: 4px;
    font-family: poppins;
    color: rgba(214, 214, 214, 0.872);
}

.hero-content .hero-head {
    font-size: 28px;
    font-family: bold poppins;
}

.hero-para {
    font-size: 12px;
    color: rgba(214, 214, 214, 0.872);
    text-align: justify;
}

.hero-content a {
    color: #fff;
    font-size: 15px;
    margin-top: 12px;
}

/* END */

/* featuredNews section styling */
.primary-link {
    font-family: "bold poppins", "poppins", "sans-serif";
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;

    &>i {
        margin-left: 8px;
        color: #fff;
        font-size: 10px;
        background-color: red;
        padding: 5px;
        border-radius: 50px;
    }

    &>i.rotate {
        transform: rotate(320deg);
    }

    &:hover i {
        background-color: darkred;
    }
}

.featuredNews {
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.container {
    width: 95%;
}

.featuredNewsHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 15px 0;
    color: #000;
}

.featuredNewsHead h2 {
    font-size: 37px;
}

.primary-link span {
    font-weight: bold;
}

.featuredNewsRow1 {
    width: 100%;
    height: 60vh;
    display: flex;
    gap: 1.2%;
}

.featuredNewsRow1>div:first-child {
    flex: 5.5;
}

/* extra */
/* body {
    height: 10200px;
} */

.featuredNewsRow1>div:nth-child(2) {
    flex: 2.2;
}

.featuredNewsRow1>div:nth-child(3) {
    flex: 2.8;
}

.featuredNewsRow1>div:nth-child(3) {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.featuredNewsContent .boxes {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 14px;

    &>a>.boxesContent {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        &> :first-child {
            flex: 20;
        }

        &> :last-child {
            flex: 80;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }

    & p {
        font-size: 10px;
        letter-spacing: 5px;
    }

    & h3 {
        font-size: 13px;
        font-family: bold poppins;
    }
}

.featuredNewsContent .box-1 {
    background-size: cover;
    background-position: center;
    background-image: url("https://www.nasa.gov/wp-content/uploads/2024/11/thanksgiving-2024-20-thanksgiving-2014.jpg");
}

.featuredNewsContent .box-2 {
    background-size: cover;
    background-position: center;
    background-image: url("https://science.nasa.gov/wp-content/uploads/2024/11/hotneptune-1280c.jpeg");
}

.featuredNewsContent .box-3 {
    background-size: cover;
    background-position: center;
    background-image: url("https://science.nasa.gov/wp-content/uploads/2024/11/webb-stsci-01jcgz71j2wy7vrn04ypbyb5x4-2k.png");
}

.featuredNewsContent .box-4 {
    background-size: cover;
    background-position: center;
    background-image: url("https://www.nasa.gov/wp-content/uploads/2024/11/1-pia26443-spacecraft-illustration.jpg?resize=1536,864");
}

.featuredNewsContent .boxes .dark-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.8) 80%);
    position: absolute;
    z-index: -1;
}

.featuredNewsRow2 {
    display: flex;
    gap: 8px;
    margin-top: 15px;
}

.featuredNewsRow2>.boxes {
    display: flex;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    padding: 7px;
    color: #000;
}

.featuredNewsRow2>.boxes h4 {
    font-size: 12px;
    margin: 3.5px 0;
}

.featuredNewsRow2>.boxes img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

/* END */


/* Image-container */
.img-container {
    width: 100%;
    height: min-content;
    position: relative;
}

.img-container .img-box {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;

    & .dark-overlay {
        background: linear-gradient(to left, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.8) 70%);
        background: line;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
}

.img-box .image {
    width: 100%;
    height: 100%;
}

.img-content {
    position: absolute;
    top: 0px;
    color: #fff;
    margin-left: 25px;
    display: flex;
    flex-direction: c;
    flex-direction: column;
    align-items: flex-start;
    height: 80%;
    gap: 5px;
    justify-content: flex-end;
}

.img-content .heading {
    font-size: 72px;
    font-family: bold poppins;
    line-height: 80px;
    margin-bottom: 10px;
}

.img-content .para {
    width: 54%;
}

.img-content a {
    color: #fff;
}

/* END */

/* human-space section styling */
.humanSpace-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.humanSpace-container .row {
    width: 100%;
    height: 70vh;
    display: flex;
    gap: 20px;
    margin-bottom: 5%;
}

.humanSpace-container .cols {
    display: flex;
    justify-content: center;
    flex: 1;
    width: 100%;
    height: 100%;
    position: relative;

    &>.img-box {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 0;

        &>img {
            width: 100%;
            height: 100%;
        }

        &>.dark-overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.4);
        }
    }

    &>.info {
        width: 80%;
        height: 40%;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
    }
}

.info i {
    background-color: red;
    padding: 4.5px;
    font-size: 12px;
    color: #fff;
    width: 13px;
    height: 13px;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info h4 {
    font-size: 24px;
    width: 50%;
    font-family: bold poppins;
}

/* END */

/* imageOfTheDay */
.imageOfTheDay {
    margin: 20px 0 10% 0;
    display: flex;
    justify-content: center;
}

.imageOfTheDayInner {
    display: flex;
    gap: 6%;
    width: 100%;
    height: 100%;
}

.imageOfTheDayContent {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.imageOfTheDayContent>div:first-child {
    flex: 3;
    padding: 10px 0;
    box-sizing: border-box;
}

.imageOfTheDayContent .heading {
    font-size: 38px;
    font-family: bold poppins;
    line-height: 32px;
}

.imageOfTheDayContent .sub-head {
    font-size: 28px;
    font-weight: bold;
}

.imageOfTheDayContent .para {
    font-size: 15px;
    margin: 12px 0;
}

.imageOfTheDayContent>div:nth-child(2) {
    flex: 7;
}

.imageOfTheDay-container {
    flex: 6;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &>a>img {
        width: 100%;
        height: 100%;
    }
}

.imageOfTheDayTitle {
    letter-spacing: 7px;
    font-size: 10px;
    margin: 5px;
}

.imageOfTheDayLinks {
    color: #000;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 4px;
}

.imageOfTheDay .right-arrows {
    background-color: red;
    border-radius: 10px;
    width: 16px;
    height: 16px;
    padding: 1px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* END */

/* moreImagesSection styling */
.moreImagesSection {
    display: flex;
    justify-content: center;
}

.moreImagesSection .heading {
    font-size: 22px;
    font-family: bold poppins;
}

.moreImagesSection .swiper {
    height: 60vh;
    width: 100%;
    margin: 4% 0;
}

.swiper-slide {
    cursor: grab;
    width: 100%;
    height: 100%;
}

.swiper-slide .img-boxes {
    width: 100%;
    height: 80%;
    display: flex;
    gap: 2%;

}

.swiper-slide .img-boxes>div:first-child {
    height: 100%;
    width: 65%;
}

.swiper-slide .img-boxes>div:nth-child(2) {
    width: 33%;
    display: flex;
    gap: 3%;
    flex-direction: column;
}

.img-boxes img {
    width: 100%;
    height: 100%;
}

.swiper-slide .content-boxes {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &>h5 {
        margin-top: 7px;
        font-size: 18px;
        color: #000;

    }

    &>p {
        font-size: 12px;
        letter-spacing: 6px;
        color: gray;
    }
}

/* END */

/* aboutNASA styling */
.aboutNASA {
    background-color: #F6F6F6;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutNASA .container {
    display: flex;
    justify-content: space-between;
    gap: 10%;
    height: 80%;
    display: flex;
    justify-content: center;
}

.aboutNASA-content {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;

    & a.primary-link>i {
        transform: none;
    }
}

.aboutNASA-content h5 {
    font-size: 18px;
}

.aboutNASA-content .heading {
    font-size: 35px;
    font-family: bold poppins;
    width: 80%;
    margin: 20px 0;
}

.video-container {
    flex: 6;

    &>video {
        width: 100%;
        height: 100%;
        border-radius: 16px;
    }
}

/* END */

/* explore-img-container styling */
.explore-img-container {
    position: relative;
    width: 100%;
    height: 95vh;
}

.explore-img-container .img-box {
    width: 100%;
    height: 100%;
}

.explore-img-container .img-content {
    top: 15%;
}

/* END */


/* topic of nasa styling */
.topicsOfNasa {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.topicsOfNasa .row {
    width: 100%;
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.topicsOfNasa .cols {
    display: flex;
    justify-content: center;
    /* flex: ; */
    width: 24%;
    height: auto;
    position: relative;

    &>.img-box {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 0;

        &>img {
            width: 100%;
            height: 100%;
        }

        &>.dark-overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.4);
        }
    }

    &>.info {
        width: 80%;
        height: 40%;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
    }
}

/* footer styling */
footer {
    background-color: #000;
    color: #fff;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    width: 95%;
    height: 90%;
}

.footer-logo {
    width: 70px;
    height: 70px;
}

.footer-content {
    margin-top: 10px;
    width: 100%;
    height: 56%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 5%;
}

.footer-content>div>h6 {
    font-size: 20px;
}

.footer-content p {
    font-size: 0.9rem;
    color: var(--gray);
}

.footer-content a {
    color: #fff;
    font-size: 14px;
}

.footer-content a:hover {
    text-decoration: underline dashed;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 30%;

}

.footer-links-container {
    width: 40%;
    height: 70%;
    position: relative;
    z-index: 1;
}

.footer-links-container>ul {
    list-style: none;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 2% 5%;

    &>li {
        /* background-color: red; */
        width: 33%;
        height: 18%;
        display: flex;
        align-items: center;
    }
}

.footer-follow-links {
    width: 20%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-follow-links>div {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &>div:first-child {
        color: var(--gray);
    }
}

.footer-follow-links .linksInIcons {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    width: 80%;

    &>a {
        background-color: #2e2e2e;
        padding: 5px;
        width: 18px;
        height: 18px;
        border-radius: 11.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        &>i {
            font-size: 15px;
        }

        &:hover {
            background-color: #696969;
        }
    }
}

.footer-others-links {
    width: 100%;
    border-top: 1px solid #696969;
    padding: 5px;
    margin-top: 20px;
    padding-top: 20px;
}

.footer-others-links>ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 25px;

    &>li>a {
        color: var(--gray);

    }
}

.page-details {
    display: flex;
    gap: 14%;
    width: 100%;
    flex-wrap: wrap;
    color: var(--gray);

    &>div>span {
        margin-right: 4px;
        font-size: 14px;
    }

    &>div>b {
        font-size: 15px;
    }
}

/* END */